<main class="row schools">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12 nav-links">
        <a href="#">View by Date</a> |
        <a href="#">View by School</a>
      </div>
    </div>
    <div ng-repeat="school in schools">
      <div class="row panel school" ng-class="{active: school.isActive}">
        <div class="col-xs-7">
          <h2>{{ school.name }}</h2>
          <h3>{{ school.dueDate }}</h3>
        </div>
        <div class="col-xs-5">
          <div class="action-container">
            <i class="fa fa-calendar"></i>
            <i class="fa fa-file-o"></i>
            <i class="fa fa-trash-o"></i>
          </div>
          <div class="switch-container">
            <input bs-switch type="checkbox" ng-model="school.isActive">
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
