<main class="row user-view user-login-update-view">
  <div class="col-xs-12">
    <form name="loginUpdateForm" ng-show="isLoginUpdateFormVisible">
      <div class="form-group">
        <label for="confirm-code">Enter the code we sent you here</label>
        <input type="text"
               class="form-control"
               placeholder="code"
               id="confirm-code"
               name="confirmCode"
               ng-model="confirmCode"
               required>
      </div>
      <div class="form-group">
        <label for="personal-code">
          Enter a six digit code that you want to use for your login. This should
          be something easy to remember.
        </label>
        <input type="text"
               class="form-control"
               placeholder="personal code"
               id="personal-code"
               name="personalCode"
               ng-model="personalCode"
               ng-minlength="6"
               ng-maxlength="6"
               ng-pattern="/\d{6}/"
               required>
      </div>
      <button type="submit"
              class="btn btn-primary"
              ng-class="{disabled: loginUpdateForm.$invalid}"
              ng-disabled="loginUpdateForm.$invalid"
              ng-click="updateLoginCode()">OK NEXT
      </button>
    </form>

  </div>
</main>

<script type="text/ng-template" id="loginUpdateSendCodeModal.html">
  <div class="modal-body login-update-send-code-modal">
    <p>Check your device. We are sending you a code now to confirm it's you.</p>
    <button class="btn btn-primary" ng-click="ok()">I Got It</button>
  </div>
</script>

<script type="text/ng-template" id="loginUpdateCompletionModal.html">
  <div class="modal-body login-update-completion-modal">
    <p>You're Login Code has been changed.</p>
    <button class="btn btn-primary" ng-click="ok()">that was easy</button>
  </div>
</script>
