<div class="container">
  <div class="row">
    <h2>Settings</h2>
    <form name="settingsForm" class="col-md-6" novalidate>
      <div class="form-group" show-errors>
        <label class="control-label" for="summerCutoffMonth">Summer Cutoff Date:</label>
        <div class="form-inline row">
          <select ng-options="month.id as month.label for month in months" ng-change="generateDays()" 
                  ng-model="data.summerCutoffMonth" id="summerCutoffMonth" name="summerCutoffMonth" 
                  class="form-control col-md-8" required></select>
          <select ng-options="day.id as day.label for day in days" 
                  ng-model="data.summerCutoffDay" id="summerCutoffDay" name="summerCutoffDay" 
                  class="form-control col-md-4" required></select>
        </div>
      </div>
      <button class="btn btn-primary" ng-click="save(data)">Save</button>
  </div>
</div>
