<div class="modal-header">
  <h3 ng-if="context=='add'" class="modal-title">Add a category</h3>
  <h3 ng-if="context=='edit'" class="modal-title">Edit a category</h3>
</div>
<div class="modal-body">
  <form name="editCategoryForm" novalidate>
    <div class="form-group" show-errors>
      <label class="control-label" for="categoryName">Category Name:</label>
      <input type="text" ng-model="data.categoryName" name="categoryName"
        class="form-control" id="categoryName" placeholder="Category name" required/>
    </div>
</div>
<div class="modal-footer">
  <button class="btn btn-danger pull-left" ng-if="context =='edit'"
    ng-click="delete(data._id)">Delete Category</button>
  <button class="btn btn-primary" ng-if="context =='add'" ng-click="add(data)">Add</button>
  <button class="btn btn-primary" ng-if="context == 'edit'" ng-click="save(data)">Save</button>
  <button class="btn" ng-click="cancel()">Cancel</button>
</div>
