<div class="container">
  <div class="row">
    <h2>Reminders</h2>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Reminder</th>
          <th>Category</th>
          <th>Message</th>
          <th>Timeframe</th>
        </tr>
      </thead>
      <tbody>
        <tr class="cursor-pointer" ng-repeat="reminder in reminders" ng-click="openEditModal('edit', reminder)">
          <td>{{reminder.name}}</td>
          <td>{{reminder.categoryName}}</td>
          <td>{{reminder.message}}</td>
          <td>
            <p class="single-space text-nowrap" ng-repeat="timeframe in reminder.timeframes">{{addTimeframeSuffix(timeframe)}}</p>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" ng-click="openEditModal('add')">Add Reminder</button>
  </div>
</div>
