<div class="container">
  <div class="row">
    <h2>Settings</h2>
    <form name="settingsForm" novalidate>
      <div class="form-group" show-errors>
        <label class="control-label" for="summerCutoffDate">Summer Cutoff Date:</label>
        <input type="text" ng-model="data.summerCutoffDate" ng-pattern=/^([1-9]|0[1-9]|1[012])[-\/.]([1-9]|0[1-9]|[12][0-9]|3[01])[-\/.](\d\d)|((19|20)\d\d)$/
        name="summerCutoffDate" class="form-control" id="summerCutoffDate" placeholder="mm/dd/yyyy" required/>
      </div>
      <button class="btn btn-primary" ng-click="save(data)">Save</button>
  </div>
</div>
