<div class="container">
  <div class="row">
    <h2>Test Dates</h2>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Test Date</th>
            <th>Registration Date</th>
            <th>Test Type</th>
          </tr>
        </thead>
        <tbody>
          <tr class="cursor-pointer" ng-repeat="testDate in testDates" ng-click="openEditModal('edit', testDate)">
            <td>{{testDate.testDate}}</td>
            <td>{{testDate.registrationDate}}</td>
            <td>{{testDate.testType}}</td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-primary" ng-click="openEditModal('add')">Add Test Date</button>
    </form>
  </div>
</div>

