<form name="reminderForm" novalidate>
  <div class="form-group">
    <label for="schoolName">College/University Name</label>
    <input type="text" id="schoolName" ng-model="schoolName" required
      placeholder="Enter the name of the college/university"/>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label for="submissionDate">Submission Date for Application</label>
      <p class="input-group">
        <input type="text" class="form-control" datepicker-popup={{format}}
                       ng-model="dt" is-open="$parent.opened" min-date="minDate" 
                       datepicker-options="dateOptions" required 
                       close-text="Close" />
       <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open($event)">
            <i class="glyphicon glyphicon-calendar"></i>
         </button>
       </span>
      </p>
    </div>
  </div> 
  <div class="row">
    {{schoolName}}
    <input type="submit" ng-click="populate()" ng-disabled="reminderForm.$invalid" value="Get My Reminders!"/>
</form>

<div class="reminder-list" ng-repeat="reminder in reminders">
  <h3>{{reminder.fullName}}</h3>
  <h4>{{reminder.message}}</h4>
  <p>{{reminder.detail}}</p>
</div>
