[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  background-color: $bg-gray;
  font-family: $pt-sans;
  font-size: 16px;
}

main {
  padding-bottom: $footer-height;
}

.ui-viewer {
  padding: 0;
  clear: both;
}

.no-padding {
  padding: 0;
}
