.onboarding-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $onboarding-bg-blue;
  z-index: 90;
  text-align: center;
  padding-top: 10vh;
  color: white;

  .ob-main {
    height: 55vh;
  }

  .ob-nav {
      height: 15vh;
  }

  .skip-to-login {
    color: white;
    font-size: 1.5em;
    margin-top: 3em;
  }

  i.fa {
    font-size: 50px;
  }

  p {
    font-family: $marvel;
    font-size: 36px;
    margin: 50px 0;
  }

  @media ($resizeL2) {
    padding-top: 1vh;
    p {
      margin: 5px 0;
    }
  }

  .info-text {
    font-family: $pt-sans;
    font-size: 1em;
    font-style: italic;
    margin-top: 0.5em;
    margin-bottom: 0;
  }

  .progress {
    margin: 0 auto;
    width: 70%;
  }

  .progress-bar {
    background: $progress-green;
  }

  .input-group {
    i.fa {
      font-size: 25px;
    }
  }

  .datepicker-position {
    .dropdown-menu {
      top:-285px !important;
    }
  }

  label {
    text-align: left;
    display: block;
  }

  .btn-onboarding-desktop {
      display: none;

      @media (min-width: 600px) {
        display: inline-block;
      }

      &+.btn-onboarding-desktop {
          margin-left: 1em;
      }
  }
}

.ob3, .ob4 {
  p {
    margin-top: 0;
  }
}

.ob7 {
  p {
    font-size: 28px;
  }

  ul {
    list-style: none;
    padding: 0;
    line-height: 3;
    width: 300px;
    text-align: left;
    margin: 0 auto;
  }

  i.fa {
    font-size: 32px;
    margin-right: 15px;
    width: 28px;
  }
}