// Colors
$bg-gray: #8a8a8a;
$active-blue: #34A2DB;
$active-blue-dark: #4779F2;
$heading-bg-blue: #357ebd;
$heading-border-blue: #428bca;
$onboarding-bg-blue: rgba(27, 18, 77, .85);
$onboarding-btn-blue: #5bc0de;
$progress-green: #5cb85c;
$danger: #d43f3a;

// Sizes:
$footer-height: 80px;

// Fonts:
$marvel: 'Marvel', sans-serif;
$francois-one: 'Francois One', sans-serif;
$pt-sans: 'PT Sans Narrow', sans-serif;

// Responsive controls:
$resizeL1: "max-height: 600px"; // iPhone5 fits in this
$resizeL2: "max-height: 700px"; // iPhone6 fits in this
