<main class="row user-codes-add-view">
  <div class="col-xs-12">
    <form name="codesAddForm">
      <div class="form-group">
        <label for="confirm-code">Enter the code we sent you here</label>
        <input type="text"
               class="form-control"
               placeholder="code"
               id="confirm-code"
               name="confirmCode"
               ng-model="confirmCode"
               required>
      </div>
      <div class="form-group">
        <label for="personal-code">
          Enter a six digit code that you want to use for your login. This should
          be something easy to remember.
        </label>
        <input type="text"
               class="form-control"
               placeholder="personal code"
               id="personal-code"
               name="personalCode"
               ng-model="personalCode"
               ng-minlength="6"
               ng-maxlength="6"
               ng-pattern="/\d{6}/"
               required>
      </div>
      <div class="form-group">
        <label for="sponsor-code">
          Optional - If you have a sponser code, enter that here:
        </label>
        <input type="text"
               class="form-control"
               placeholder="sponsor code"
               id="sponsor-code"
               ng-model="sponsorCode"
               name="sponsorCode">
      </div>
      <button type="submit"
              class="btn btn-primary"
              ng-class="{disabled: codesAddForm.$invalid}"
              ng-disabled="codesAddForm.$invalid"
              ng-click="submitCodes()">OK NEXT
      </button>
    </form>
  </div>
</main>

<script type="text/ng-template" id="smsCompletionModal.html">
  <div class="modal-body confirm-completion-modal">
    <p>GREAT!</p>
    <p>You're all setup.</p>
    <button class="btn btn-primary" ng-click="ok()">that was easy</button>
  </div>
</script>
