<main class="row login-view">
  <div class="onboarding-container">
    <p>Welcome to YadaGuru. <br>Please Login </p>
    <form name="loginForm">
      <div class="form-group">
        <label for="login-phone-number">Enter your Phone Number.</label>
        <input type="text"
               class="form-control"
               id="login-phone-number"
               ng-model="$parent.phoneNumber"
               required
               name="phoneNumber"
               ui-mask-placeholder
               ui-mask="(999) 999-9999"
               ng-minlength="10" />
      </div>
      <div class="form-group">
        <label for="login-personal-code">
          Enter your Personal Code.
        </label>
        <input type="text"
               class="form-control"
               placeholder="personal code"
               id="login-personal-code"
               name="personalCode"
               ng-model="$parent.personalCode"
               ng-minlength="6"
               ng-maxlength="6"
               ng-pattern="/\d{6}/"
               required>
      </div>
      <button type="submit"
              class="btn btn-primary"
              ng-class="{disabled: loginForm.$invalid}"
              ng-disabled="loginForm.$invalid"
              ng-click="submitLogin()">LOGIN
      </button>
    </form>
  </div>
</main>