<div ng-swipe-left="advanceOb()" ng-swipe-right="rewindOb()" class="container-fluid onboarding-container">
  <div class="row ob-main">
    <div ng-if="obStep === 1" class="ob1 col-xs-12">
      <p><i class="fa fa-flag"></i></p>
      <p>Hi, I'm YadaGuru and I'm here to get your college applications done.</p>
    </div>
    <div ng-if="obStep === 2" class="ob2 col-xs-12">
      <p><i class="fa fa-clock-o"></i></p>
      <p>I'll send you text reminders about all the things you need to do.</p>
    </div>
    <div ng-if="obStep === 3" class="ob3 col-xs-12">
      <p>Let's set up your first school. What's the name of a school that you're thinking of applying to?</p>
      <div class="form-group">
        <label class="sr-only" for="school-name">School Name</label>
        <div class="input-group">
          <input type="text" class="form-control" id="school-name" ng-model="$parent.schoolName" placeholder="School Name" />
          <div class="input-group-addon" ng-class="{disabled: !schoolName}" role="button" ng-click="advanceOb()">OK NEXT</div>
        </div>
      </div>
      <p class="info-text" ng-click="endOnboarding()" role="button">I don't want to do setup.  Just take me to the app.</p>
    </div>
    <div ng-if="obStep === 4" class="ob4 col-xs-12">
      <p>Cool. Now, what is the Regular Admissions application submission date of tha school? </p>
      <div class="form-group">
        <label class="sr-only" for="school-name">Submission Date</label>
        <div class="input-group">
          <div class="input-group-addon" role="button" ng-click="datepickerOpen = !datepickerOpen"><i class="fa fa-calendar"></i></div>
          <div class="datepicker-position">
            <input
              type="text"
              class="form-control"
              id="submission-date"
              ng-model="$parent.submissionDate"
              datepicker-popup="M/d/yyyy"
              is-open="datepickerOpen"
              min-date="minDate"
              init-date="initDate"
              placeholder="2/1/2016" />
          </div>
          <div class="input-group-addon" ng-class="{disabled: !submissionDate}" role="button" ng-click="advanceOb()">OK NEXT</div>
        </div>
      </div>
      <p class="info-text" ng-click="faqModal('faq-app-submission-date')" role="button">What's an Application Submission Date?</p>
      <p class="info-text" ng-click="faqModal('faq-app-find')" role="button">Where do I find it?</p>
      <p class="info-text" ng-click="faqModal('faq-regular-admissions')" role="button">What's 'Regular Admissions?'</p>
      <p class="info-text" ng-click="faqModal('faq-rolling-admissions')" role="button">What About Rolling Admission?</p>
      <p class="info-text" ng-click="faqModal('faq-early-action')" role="button">Do you do Early Action/Decision?</p>
    </div>
  </div>
  <div class="row ob-progress">
    <div class="col-xs-12">
      <progress-dots max="5" value="obStep" class="progress-dots"></progress-dots>
    </div>
  </div>
</div>

<script type="text/ng-template" id="faqModal.html">
  <div class="modal-body onboarding-faq-modal">
    <div ng-bind-html="content"></div>
    <button class="btn btn-default" type="button" ng-click="close()">Got it.</button>
  </div>
</script>
