<div ng-swipe-left="advanceOb()" ng-swipe-right="rewindOb()" class="container-fluid onboarding-container">
  <div class="row ob-main">

    <div ng-if="obStep === 1" class="ob1 col-xs-12">
      <p><i class="fa fa-flag"></i></p>
      <p>Hi, I'm YadaGuru and I'm here to get your college applications done.</p>
      <a ui-sref="login" ng-click="endOnboarding()"><p class="skip-to-login">Already setup? Tap here to login.</p></a>
    </div>

    <div ng-if="obStep === 2" class="ob2 col-xs-12">
      <p><i class="fa fa-clock-o"></i></p>
      <p>I'll send you text reminders about all the things you need to do.</p>
    </div>

    <div ng-if="obStep === 3" class="ob3 col-xs-12">
      <p>To get started, please enter your mobile number.</p>
      <form name="smsForm">
        <div class="form-group">
          <label class="sr-only" for="phone-number">phone Number</label>
          <div class="input-group">
            <input type="text"
                   class="form-control"
                   id="phone-number"
                   ng-model="$parent.phoneNumber"
                   required
                   name="phoneNumber"
                   ui-mask-placeholder
                   ui-mask="(999) 999-9999"
                   ng-minlength="10" />
            <div class="input-group-addon"
                 ng-class="{disabled: smsForm.$invalid}"
                 ng-disabled="smsForm.$invalid"
                 role="button"
                 ng-click="submitMobile()">OK NEXT</div>
          </div>
        </div>
      </form>
      <div class="disclaimer">
        By clicking this button you agree to allow YadaGuru to send you periodic
        reminders about the college application process to your mobile phone.
        Depending on your text plan, this may incur cost. YadaGuru is not responsible
        for these costs. Please see our Privacy Policy for more information about
        how we use your mobile number.
      </div>
    </div>

    <div ng-if="obStep === 4" class="ob4 col-xs-12">
      <p>
        Enter the code we sent you here.
      </p>
      <form name="codesAddForm">
        <div class="form-group">
          <input type="text"
                 class="form-control"
                 placeholder="123456"
                 id="confirm-code"
                 name="confirmCode"
                 ng-model="$parent.confirmCode"
                 required>
        </div>
        <button type="submit"
                class="btn btn-primary"
                ng-class="{disabled: codesAddForm.$invalid}"
                ng-disabled="codesAddForm.$invalid"
                ng-click="submitCode()">OK NEXT
        </button>
      </form>
    </div>

    <div ng-if="obStep === 5" class="ob5 col-xs-12">
      <p>Let's set up your first school. What's the name of a school that you're thinking of applying to?</p>
      <div class="form-group">
        <label class="sr-only" for="school-name">School Name</label>
        <div class="input-group">
          <input type="text" class="form-control" id="school-name" ng-model="$parent.schoolName" placeholder="School Name" />
          <div class="input-group-addon" ng-class="{disabled: !schoolName}" role="button" ng-click="advanceOb(true)">OK NEXT</div>
        </div>
      </div>
    </div>

    <div ng-if="obStep === 6" class="ob6 col-xs-12">
      <p>Cool. Now, what is the Regular Admissions application submission date of that school? </p>
      <div class="form-group">
        <label class="sr-only" for="school-name">Submission Date</label>
        <div class="input-group">
          <div class="input-group-addon" role="button" ng-click="datepickerOpen = !datepickerOpen"><i class="fa fa-calendar"></i></div>
          <div class="datepicker-position">
            <input
                type="text"
                class="form-control"
                id="submission-date"
                ng-model="$parent.submissionDate"
                datepicker-popup="M/d/yyyy"
                is-open="datepickerOpen"
                min-date="minDate"
                init-date="initDate"
                placeholder="2/1/2016" />
          </div>
          <div class="input-group-addon" ng-class="{disabled: !submissionDate}" role="button" ng-click="submitSchool()">OK NEXT</div>
        </div>
      </div>
      <p class="info-text" ng-click="faqModal('faq-app-submission-date')" role="button">What's an Application Submission Date?</p>
      <p class="info-text" ng-click="faqModal('faq-app-find')" role="button">Where do I find it?</p>
      <p class="info-text" ng-click="faqModal('faq-regular-admissions')" role="button">What's 'Regular Admissions?'</p>
      <p class="info-text" ng-click="faqModal('faq-rolling-admissions')" role="button">What About Rolling Admission?</p>
      <p class="info-text" ng-click="faqModal('faq-early-action')" role="button">Do you do Early Action/Decision?</p>
    </div>
  </div>
  <div class="row ob-nav">
      <button
      type="button"
      class="btn btn-primary btn-onboarding-desktop"
      ng-click="advanceOb()"
      ng-if="obStep <= 2">Next</button>
      <button
      type="button"
      class="btn btn-primary btn-onboarding-desktop"
      ng-click="rewindOb(1)"
      ng-if="obStep !== 1 && obStep !== 5">Back</button>
  </div>
  <div class="row ob-progress">
    <div class="col-xs-12">
      <progress-dots max="7" value="obStep" class="progress-dots"></progress-dots>
    </div>
  </div>
</div>
