body {
  font-family: helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
div.container {
  position: relative;
  max-width: 600px;
}
.panel-heading h3:after {
  font-family:'Glyphicons Halflings';
  content:"\e114";
  float: right;
  color: grey;
}
.panel-heading.collapsed h3:after {
  content:"\e080";
}

.fa-square-o {
  float: left;
  margin-right: 5px;
  display: none;
}

@media (min-width: 768px) {
  .page-header h1 {
    font-size: 75px;
  }
}

@media print {

  #reminderForms { display: none; }

  .panel-heading.collapsed h3:after {
  font-family:'Glyphicons Halflings';
  content:"\e114";
  float: right;
  color: grey;
  }
  .collapse {
    display: block !important;
    height: auto !important;
  }
  div {
    page-break-inside: avoid;
  }
  
  .fa-square-o {
    display: block;
  }
  
}
