<main class="row user-view user-sms-add-view">
  <div class="col-xs-12">
    <p>Enter your mobile number. We'll send you a code to use for the next step.</p>
    <form name="smsForm">
      <div class="form-group">
        <label class="sr-only" for="phone-number">phone Number</label>
        <div class="input-group">
          <input type="text"
                 class="form-control"
                 id="phone-number"
                 ng-model="phoneNumber"
                 required
                 name="phoneNumber"
                 ui-mask-placeholder
                 ui-mask="(999) 999-9999"
                 ng-minlength="10" />
          <div class="input-group-addon"
               ng-class="{disabled: smsForm.$invalid}"
               ng-disabled="smsForm.$invalid"
               role="button"
               ng-click="submitMobile()">OK NEXT</div>
        </div>
      </div>
    </form>
    <div class="disclaimer">
      By clicking this button you agree to allow YadaGuru to send you periodic
      reminders about the college application process to your mobile phone.
      Depending on your text plan, this may incur cost. YadaGuru is not responsible
      for these costs. Please see our Privacy Policy for more information about
      how we use your mobile number.
    </div>
  </div>
</main>

<script type="text/ng-template" id="sendCodeModal.html">
  <div class="modal-body send-code-modal">
    <p>Check your device. We are sending you a code now.</p>
    <button class="btn btn-primary" ng-click="ok()">I Got It</button>
  </div>
</script>
