<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="yadaApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YadaGuru</title>

    <!-- bower:css -->
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/vendor/toastr/toastr.css" />
    <link rel="stylesheet" href="/vendor/angular-toastr/dist/angular-toastr.css" />
    <!-- endbower -->

    <!-- inject:css -->
    <link rel="stylesheet" href="css/main.css">
    <!-- endinject -->
  </head>
  <body ng-controller="mainCtrl">
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="page-header">
      <h1 class="text-center">YadaGuru</h1>
      <h2 class="text-center">College Application Reminders</h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="jumbotron clearfix" id="reminderForms">
          <form name="reminderForm" novalidate>
            <div class="form-group">
              <label for="schoolName">College/University Name</label>
              <input type="text" id="schoolName" class="form-control"
                     ng-model="formData.schoolName" required
                     placeholder="Enter the name of the college/university"/>
            </div>
            <div class="form-group">
              <label for="submissionDate">Submission Date for Application</label>
              <p class="input-group">
                <input type="text" class="form-control" datepicker-popup={{format}}
                       ng-model="formData.dt" is-open="$parent.opened" min-date="minDate"
                       datepicker-options="dateOptions" required
                       close-text="Close" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </p>
            </div>
            <button id="reminderSubmit" type="submit" ng-click="getReminders(formData)"
                   class="btn pull-right" ng-class="reminderForm.$invalid ? 'btn-default' : 'btn-primary'"
                   ng-disabled="reminderForm.$invalid">Get My Reminders!</button>
          </form>
          <button type="button" onClick="window.print()" class="btn pull-left"
                  ng-class="!groups ? 'btn-default' : 'btn-primary'"
                  ng-disabled="!groups"><i class="fa fa-print"></i> Print This Page </button>
        </div>

        <div ng-cloak class="group-list panel-group" id="accordian" ng-repeat="group in groups">
          <div class="panel panel-default" id="panel{{$index}}">
            <div class="panel-heading collapsed" data-toggle="collapse" data-target="#collapse{{$index}}"
                   href="#collapse{{$index}}">
              <h3 class="panel-title">
                To Do By {{group.name}}
              </h3>
            </div>
            <div id="collapse{{$index}}" class="panel-collapse collapse">
              <div class="reminder-list panel-body" ng-repeat="reminder in group.members">
                <h4><i class="fa fa-square-o fa-1"></i>{{reminder.message}}</h4>
                <p>{{reminder.detail}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <!-- bower:js -->
  <script src="/vendor/jquery/dist/jquery.js"></script>
  <script src="/vendor/angular/angular.js"></script>
  <script src="/vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="/vendor/angular-animate/angular-animate.js"></script>
  <script src="/vendor/toastr/toastr.js"></script>
  <script src="/vendor/angular-toastr/dist/angular-toastr.tpls.js"></script>
  <script src="/vendor/angular-resource/angular-resource.js"></script>
  <!-- endbower -->

  <!-- inject:js -->
  <script src="/common/app.js"></script>
  <script src="/common/account/authService.js"></script>
  <script src="/common/account/identityService.js"></script>
  <script src="/common/account/userService.js"></script>
  <script src="/common/services/notifier.js"></script>
  <script src="app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>
  <script src="js/services/api.js"></script>
  <script src="js/services/utils.js"></script>
  <!-- endinject -->
</html>
