<yg-onboarding ng-if="isOnboarding"></yg-onboarding>
<main class="row school-view">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <yg-nav-links></yg-nav-links>
    <div ng-repeat="school in schools">
      <div class="row panel school" ng-class="{active: school.isActive, first: $first}">
        <div class="col-xs-6">
          <h2 ng-click="viewReminders(school.id)">{{ school.name }}</h2>
          <h3 ng-click="viewReminders(school.id)">{{ school.dueDate }}</h3>
        </div>
        <div class="col-xs-4">
          <div class="switch-container" >
            <input bs-switch type="checkbox" ng-model="school.isActive" ng-change="updateActive(school.id, school.isActive)">
          </div>
        </div>
        <div class="col-xs-2">
          <i class="fa fa-trash school-trash" ng-click="deleteSchool(school.id)"></i>
        </div>
      </div>
    </div>
  </div>
</main>
<div ui-view></div>
