<onboarding ng-if="isOnboarding"></onboarding>
<main class="row school-view">
  <div class="col-xs-12">
    <nav-links></nav-links>
    <div ng-repeat="school in schools">
      <div class="row panel school" ng-class="{active: school.isActive, first: $first}">
        <div class="col-xs-7">
          <h2>{{ school.name }}</h2>
          <h3>{{ school.dueDate }}</h3>
        </div>
        <div class="col-xs-5">
          <div class="action-container">
            <i class="fa fa-calendar"></i>
            <i class="fa fa-file-o"></i>
            <i class="fa fa-trash-o"></i>
          </div>
          <div class="switch-container">
            <input bs-switch type="checkbox" ng-model="school.isActive">
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<tour step="currentStep">
  <virtual-step tourtip="Click here to set up your text messages"
                tourtip-element="#sms-setup"
                tourtip-placement="center"
                tourtip-step="0"
                tourtip-margin="100"
                tourtip-offset-horizontal="0"
                tourtip-offset-vertical="-230"
                tourtip-next-label="Got It" />
  <virtual-step tourtip="Click here to see your reminders"
                tourtip-element=".first"
                tourtip-placement="bottom"
                tourtip-step="1"
                tourtip-offset-vertical="-25"
                tourtip-next-label="Got It" />
</tour>
