<div class="modal-header">
  <h3 ng-if="context=='add'" class="modal-title">Add a reminder</h3>
  <h3 ng-if="context=='edit'" class="modal-title">Edit a reminder</h3>
</div>
<div class="modal-body">
  <p class="text-info">
    Type <code>%SCHOOL%</code> and <code>%DATE%</code> to display the
    user-selected school name and appropriate reminder date
  </p>
  <form name="editReminderForm" novalidate>
    <div class="form-group">
      <label for ="name">Name:</label>
      <input type="text" ng-model="data.name" 
        class="form-control" id="name" placeholder="Reminder name" required/>
    </div>
    <div class="form-group">
      <label for ="category">Category:</label>
      <select ng-model="data.category" class="form-control" required>
        <option value="Absolute Deadline">Absolute Deadline</option>
        <option value="Portfolio Prep Days">Portfolio Prep Days</option>
        <option value="Essay Writing">Essay Writing</option>
        <option value="Recommendations">Recommendations</option>
        <option value="Application">Application</option>
        <option value="Testing">Testing</option>
        <option value="Financial Aid">Financial Aid</option>
        <option value="General Reminder">General Reminder</option>
      </select>
    </div>
    <div class="form-group">
      <label for ="message">Message:</label>
      <input type="text" ng-model="data.message" 
        class="form-control" id="message" placeholder="Reminder message" required/>
    </div>
    <div class="form-group">
      <label for ="detail">Detail:</label>
      <textarea ng-model="data.detail" class="form-control" 
        id="detail" rows="3" placeholder="Details for the reminder" required></textarea>
    </div>
    <div class="form-group">
      <label for ="late-message">Late Message:</label>
      <input type="text" ng-model="data.lateMessage" 
        class="form-control" id="late-message" placeholder="Late reminder message" required/>
    </div>
    <div class="form-group">
      <label for ="late-detail">Late Detail:</label>
      <textarea ng-model="data.lateDetail" class="form-control" 
        id="late-detail" rows="3" placeholder="Details for the late reminder" required></textarea>
    </div>
    <div class="form-group">
      <label for ="timeframe">
        Timeframe (press <kbd>ctrl</kbd> while clicking to select multiple timeframes):
      </label>
      <select ng-model="data.timeframes" multiple class="form-control" required>
        <option value="summer">Summer</option>
        <option value="90">90 Days</option>
        <option value="60">60 Days</option>
        <option value="30">30 Days</option>
        <option value="21">21 Days</option>
        <option value="14">14 Days</option>
        <option value="7">7 Days</option>
        <option value="5">5 Days</option>
        <option value="2">2 Days</option>
        <option value="1">1 Day</option>
        <option value="none">None (displays at top of list)</option>
      </select>
    </div>
</div>
<div class="modal-footer">
  <button class="btn btn-danger pull-left" ng-if="context =='edit'"
    ng-click="delete(data._id)">Delete Reminder</button>
  <button class="btn" ng-class="editReminderForm.$invalid ? 'btn-default' : 'btn-primary'" 
    ng-disabled="editReminderForm.$invalid" ng-if="context =='add'" ng-click="add(data)">Add</button>
  <button class="btn" ng-class="editReminderForm.$invalid ? 'btn-default' : 'btn-primary'" 
    ng-disabled="editReminderForm.$invalid" ng-if="context == 'edit'" ng-click="save(data)">Save</button>
  <button class="btn" ng-click="cancel()">Cancel</button>
</div>
