<div class="modal-header">
  <h3 class="modal-title">Add a reminder</h3>
</div>
<div class="modal-body">
  <p class="text-info">
    Type <code>%SCHOOL%</code> and <code>%DATE%</code> to display the user-selected school name and appropriate reminder date
  </p>
  <form novalidate>
    <div class="form-group">
      <label for ="name">Name:</label>
      <input type="text" class="form-control" id="name" placeholder="Reminder name"/>
    </div>
    <div class="form-group">
      <label for ="message">Message:</label>
      <input type="text" class="form-control" id="message" placeholder="Reminder message"/>
    </div>
    <div class="form-group">
      <label for ="detail">Detail:</label>
      <textarea class="form-control" id="detail" rows="3" placeholder="Details for the reminder"></textarea>
    </div>
    <div class="form-group">
      <label for ="late-message">Late Message:</label>
      <input type="text" class="form-control" id="late-message" placeholder="Late reminder message"/>
    </div>
    <div class="form-group">
      <label for ="late-detail">Late Detail:</label>
      <textarea class="form-control" id="late-detail" rows="3" placeholder="Details for the late reminder"></textarea>
    </div>
    <div class="form-group">
      <label for ="timeframe">Timeframe (press <kbd>ctrl</kbd> while clicking to select multiple timeframes):</label>
      <select multiple class="form-control">
        <option>Summer</option>
        <option>90 Days</option>
        <option>60 Days</option>
        <option>30 Days</option>
        <option>21 Days</option>
        <option>14 Days</option>
        <option>7 Days</option>
        <option>5 Days</option>
        <option>2 Days</option>
        <option>1 Day</option>
        <option>None (displays at top of list)</option>
      </select>
    </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="save()">Save</button>
  <button class="btn" ng-click="cancel()">Cancel</button>
</div>
