<div class="container">
  <div class="row">
    <div class="panel panel-default clearfix reminder-box col-sm-6 col-sm-offset-3" id="reminderForms">
      <div class="panel-body">
        <form name="reminderForm" novalidate>
          <div class="form-group">
            <label for="schoolName">College/University Name</label>
            <input type="text" id="schoolName" class="form-control"
                   ng-model="formData.schoolName" required
                   placeholder="Enter the name of the college/university"/>
          </div>
          <div class="form-group">
            <label for="submissionDate">Submission Date for Application</label>
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup={{format}}
                     ng-model="formData.dt" is-open="opened" min-date="minDate"
                     datepicker-options="dateOptions" required
                     close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
          </div>
          <div class="row">
            <div class="col-md-6 col-md-push-6 center">
              <button id="reminderSubmit" type="submit" ng-click="getReminders(formData)"
                     class="btn" ng-class="reminderForm.$invalid ? 'btn-default' : 'btn-primary'"
                     ng-disabled="reminderForm.$invalid">Get My Reminders!</button>
            </div>
            <div class="col-md-6 col-md-pull-6 center">
              <button type="button" onClick="window.print()" class="btn"
                    ng-class="!reminders.length > 0 ? 'btn-default' : 'btn-primary'"
                    ng-disabled="!reminders.length > 0"><i class="fa fa-print"></i> Print This Page </button>
            </div>
          </div>
        </form>
        <p class="text-center space-before">Before submitting, please read our <strong><a ui-sref="faqs">Frequently Asked Questions</a></strong></p>
      </div>
    </div>
  </div>
</div>
<div ng-show="reminders.length > 0" class="container">
  <div class="row">
    <div class="panel col-sm-6 col-sm-offset-3">
      <div class="row">
        <ul class="nav nav-pills nav-centered">
          <li ng-class="{'active':isActiveTab(dateGroup.name)}"
              ng-click="setTab(dateGroup.name)"
              ng-cloak
              ng-repeat="dateGroup in reminders"
              class="date-group" >
            <a href="#">{{dateGroup.name}}</a>
          </li>
        </ul>
      </div>
      <div ng-show="isActiveTab(dateGroup.name)" class="row" ng-repeat="dateGroup in reminders">
        <div class="category-group" ng-repeat="categoryGroup in dateGroup.members">
          <div class="reminder" ng-repeat="reminder in categoryGroup.members">
            <h2>{{categoryGroup.name}}</h2>
            <h4><i class="fa fa-square-o fa-1"></i>{{reminder.name}}</h4>
            <p>{{reminder.message}}</p>
            <p ng-bind-html="reminder.detail | linebreaks"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
