<div class="container">
  <div class="row">
    <div class="panel panel-default clearfix reminder-box col-sm-6 col-sm-offset-3" id="reminderForms">
      <div class="panel-body">
        <form name="reminderForm" novalidate>
          <div class="form-group" ng-hide="reminders.length > 0">
            <label for="schoolName">College/University Name</label>
            <input type="text" id="schoolName" class="form-control"
                   ng-model="formData.schoolName" required
                   placeholder="Enter the name of the college/university"/>
          </div>
          <div class="form-group" ng-hide="reminders.length > 0">
            <label for="submissionDate">Submission Date for Application</label>
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup={{format}}
                     ng-model="formData.dt" is-open="opened" min-date="minDate"
                     datepicker-options="dateOptions" required
                     close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
          </div>
          <div class="reminder-btn-group">
            <div class="row">
              <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 center">
                <button id="reminderSubmit" type="submit" ng-click="getReminders(formData)"
                       class="btn" ng-disabled="reminderForm.$invalid"
                       ng-class="reminderForm.$invalid ? 'btn-default' : 'btn-primary'"
                       ng-hide="reminders.length > 0">Get My Reminders!</button>
              </div>
              <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 center">
                <button type="button" onClick="window.print()"
                        class="btn btn-primary" ng-hide="!reminders.length > 0">
                        <i class="fa fa-print"></i> Print This Page </button>
              </div>
              <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 center">
                <button type="button" ng-click="downloadReminders()"
                        class="btn btn-primary" ng-hide="!reminders.length > 0">
                        <i class="fa fa-save"></i> Download iCal </button>
              </div>
              <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 center">
                <button type="button" ng-click="exportToGoogleCalendar()"
                        class="btn btn-primary" ng-hide="!reminders.length > 0">
                        <i class="fa fa-calendar"></i> Export to Google Calendar </button>
              </div>
              <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 center">
                <button type="button" ng-click="saveAsPdf()"
                        class="btn btn-primary" ng-hide="!reminders.length > 0">
                        <i class="fa fa-save"></i> Save PDF </button>
              </div>
              <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 center">
                <button type="button" ng-click="clearReminders()"
                        class="btn btn-info" ng-hide="!reminders.length > 0">
                        <i class="fa fa-refresh"></i> Restart </button>
              </div>
            </div>
          </div>
        </form>
        <p class="text-center space-before">Before submitting, please read our <strong><a ui-sref="faqs">Frequently Asked Questions</a></strong></p>
      </div>
    </div>
  </div>
</div>
<div ng-show="reminders.length === 0" class="container">
  <div class="row panel col-sm-6 col-sm-offset-3 instructions">
    <h2 class="text-center">How to use YadaGuru</h2>
    <p>YadaGuru is a tool that helps you remember all the things you have to do for your college applications.</p>
    <p>You come to YadaGuru with the Regular Decision Application Submission Date of the school you’re applying to.</p>
    <p>Then do the following:</p>
    <ol>
      <li>Give YadaGuru the <em>name of the school</em> you’re applying to.</li>
      <li>Give YadaGuru the <em>application submission date</em> for the school.</li>
      <li>Click <em>‘Get My Reminders’</em> to see your plan.</li>
    </ol>
    <p><strong>Yadaguru will then give you a plan.</strong></p>
    <p>Following the plan will help you submit <strong>complete</strong> applications on time.</p>
  </div>
</div>
<div ng-show="reminders.length > 0" class="container">
  <div class="row panel col-sm-6 col-sm-offset-3">
    <ul class="nav nav-pills nav-centered">
      <li ng-class="{'active':isActiveTab(dateGroup.name)}"
          ng-click="setTab(dateGroup.name)"
          ng-cloak
          ng-repeat="dateGroup in reminders"
          class="date-group" >
        <a href="#">{{dateGroup.name}}</a>
      </li>
    </ul>
  </div>
  <div class="reminder-container">
    <div class="row panel col-sm-6 col-sm-offset-3 reminders" ng-repeat="dateGroup in reminders" ng-show="isActiveTab(dateGroup.name)">
      <h2>{{dateGroup.name}}</h2>
      <div class="category-group" ng-repeat="categoryGroup in dateGroup.members">
        <div class="reminder" ng-repeat="reminder in categoryGroup.members">
          <h2>{{categoryGroup.name}}</h2>
          <h4><i class="fa fa-square-o fa-1"></i>{{reminder.name}}</h4>
          <p>{{reminder.message}}</p>
          <p ng-bind-html="reminder.detail | linebreaks"></p>
        </div>
      </div>
    </div>
  </div>
</div>
