<main class="row reminder-view">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <yg-nav-links></yg-nav-links>
    <div class="row">
      <div class="col-xs-12">
        <div class="reminder-list-header">
          <a ui-sref="school"><h1 class="reminder-list-title">{{ school || "All Schools" }}</h1></a>
          <p class="school-date">{{ date || "" }}</p>
        </div>
        <div ng-repeat="timeframe in reminderGroups" class="date-group">
          <h2 role="button" ng-click="timeframe.isCollapsed = !timeframe.isCollapsed">{{ timeframe.dueDate }}</h2>
          <div collapse="timeframe.isCollapsed">
            <div ng-repeat="reminder in timeframe.reminders" class="reminder-group">
              <h3 role="button" ng-click="reminder.isCollapsed = !reminder.isCollapsed">{{ reminder.name }}</h3>
              <div collapse="!reminder.isCollapsed" class="reminder-info">
                <p class="reminder-message" ng-bind-html="reminder.message"></p>
                <p class="reminder-detail" ng-bind-html="reminder.detail"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
